@charset "UTF-8";

/* test */

@import '_normalize';
@import '_mixin';

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 100;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 200;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 300;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 100;
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 200;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

/* IE10対策 */
@media all and (-ms-high-contrast: none) {
  body {
    font-family: Verdana, Meiryo, sans-serif;
  }
}

header{
  text-align: center;
  h1{
    font-size: 2rem;
    color: rgba(0,0,0,.84);
  }
}
.gNav{
  overflow: hidden;
  ul{
    margin-bottom: 0;
    padding: 0;
    display: flex;
    li{
      width: 20%;
      text-align: center;
      list-style: none;
      border: 1px solid #ccc;
      border-width: 1px 1px 1px 0;
      &:last-child{
        border-width: 1px 0;
      }
      a{
        display: block;
        width: 100%;
        height: 40px;
        line-height: 40px;
        vertical-align: middle;
        text-decoration: none;
        color: #333;
      }
    }
  }
}
.mainVisual{
  text-align: center;
  img{
    @include autoWidth;
  }
}
.container{
  max-width: 960px;
  width: 94%;
  margin: auto;
  main{
    display: flex;
    @include mq(s) {
      display: block;
    }
    .info{
      @include widtnPercent(960, 640);
      margin-right: auto;
      @include mq(s) {
        width: 100%;
      }
    }
    .banner{
      @include widtnPercent(960, 286);
      margin-left: auto;
      padding: 0;
      list-style: none;
      img{
        @include autoWidth;
      }
      @include mq(s) {
        width: 100%;
        text-align: center;
      }
    }
  }
}
.footerNav{
  ul{
    padding: 0;
    text-align: center;
    letter-spacing: -.4em;
    li{
      display: inline-block;
      letter-spacing: normal;
      margin: 0 5px;
    }
  }
}
footer{
  text-align: center;
}
