mixin gNav
  nav.gNav
    ul
      li
        a(href="index.html") menu1
      li
        a(href="page2.html") menu2
      li
        a(href="page3.html") menu3
      li
        a(href="page4.html") menu4
      li
        a(href="page5.html") menu5

mixin footerNav
  nav.footerNav
    ul
      li
        a(href="index.html") menu1
      li
        a(href="page2.html") menu2
      li
        a(href="page3.html") menu3
      li
        a(href="page4.html") menu4
      li
        a(href="page5.html") menu5
